[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
[remote "origin"]
	url = git@github.com:jilion/backups.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "heroku"]
	url = git@heroku.com:jilion-backups.git
	fetch = +refs/heads/*:refs/remotes/heroku/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
